{{#each surveys}}

<div class="imageImage">
    <h1>Title: {{title}}</h1>
</div>
<br>
<div class="imageImage">
    <h4>Question: {{question}}</h4>
</div>
<div class="imageImage">
  <h4>Answers:
    {{#each answers as |answer|}}
    <br> {{ @key }}: {{ this }}
    {{/each}}
  </h4>
</div>
<div class="imageImage">
  <form class="delSurvey">
    <fieldset>
      <input type="hidden" name="survey_id" value="{{_id}}">
      <input type="submit" name="submit" value="DELETE!">
    </fieldset>
  </form>
</div>
<div class="imageImage" data-id={{_id}}>
  <form class="changeTitle">
    <fieldset>
      <input type="hidden" name="survey[_id]" value="{{_id}}">
      <input type="text" name="survey[title]" value="{{title}}">
      <input type="submit" name="submit" value="Change Title!">
    </fieldset>
  </form>
</div>
<hr>
{{/each}}
