{{#each surveys}}

  <div class="imageImage">
         <a href="{{this.url}}" + "{{_id}}"><button class="btn btn-warning" id="{{_id}}"> GO TO:  {{title}} </button></a>
  </div>
  <div class="deleteImageImage">
    <form id="delSurvey">
      <fieldset>
        <input type="text" value="{{_id}}">
        <input type="submit" name="submit" value="DELETE!">
      </fieldset>
    </form>
  </div>
{{/each}}
